<nav class="navbar navbar-expand-md navbar-dark " style="background-color: rgb(58, 58, 58)">
  <img src="https://s8.postimg.cc/adz2tzs1h/logonavbarhome.png" height="60px" href="#">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link  " href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="aboutus">About us</a>
      </li>
      <li class="nav-item text-light" style="margin-left: 150px">
        <h3 class="text-primary">
          <b>
            <u>
              Online Cork Board</u>
          </b>
        </h3>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="login" style="margin-left: 300px">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>


    </ul>

  </div>
</nav>

<div class="footer fixed-bottom text-light" style="background-color: rgb(58, 58, 58)">

  <marquee>All rights reserved</marquee>

</div>