
<div class="row mt-4">
  
  <div class="col-12 ">
  
                  <h3 class="text-center"><u><b>Online Cork Board:</b></u></h3>
           
                  An <b>online cork board</b> is a place where people can leave any types of messages and notifications, for example, to advertise things, announce events or provide any information.
                  Notice board online it can be placed on digital devices such computers, tabs, mobile phones etc.<br>
                  
                  This online cork board project is very helpful for all type of users like existing users and new users. So admin can leave and erase notification for other people to read and see.</div>
  
  
  
  
  
  </div>